# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Output files
*.mp4
image_captions.json
my_analysis.json

# Media files
*.mp3
*.wav
*.m4a
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# Folders
images/
background_music/
output/
captions/

# Temporary files
temp_* 